<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HibernateProj</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--The below property shows sql statements that are executing in the backend-->
        <property name="hibernate.show_sql">true</property>

        <!--The below property shows the formatted sql statements that are executing in the backend-->
        <property name="hibernate.format_sql">true</property>
    </session-factory>
</hibernate-configuration>